@model seguimiento.Models.EjecucionCalculada

@{
    Layout = null;
    string[] title = { "", "", "" };
    string[] alert = { "", "", "" };
    if (Model.PlaneadoError != null)
    {
        alert[0] = "valorTexto";
        title[0] = "Valor Planeado interpretado como texto";
    }
    if (Model.EjecutadoError != null)
    {
        alert[1] = "valorTexto";
        title[1] = "Valor Ejecutado interpretado como texto";
    }
    if (Model.PlaneadoError != null || Model.EjecutadoError != null)
    {
        alert[2] = "valorTexto";
        title[2] = "Este cálculo puede ser erroneo";
    }
}
<div class="form-notas-width">



    <h4>Ejecución @Model.Periodo.nombre</h4>
    <h6>@Model.Indicador.nombre</h6>
    @if (ViewBag.tipo == "exito")
    {
        <div class="alert alert-success" role="alert">@ViewBag.mensaje</div>
    }
    @if (ViewBag.tipo == "error")
    {
        <div class="alert alert-danger" role="alert">@ViewBag.mensaje</div>
    }
    <hr />
    <dl class="row">
        <dt class="NotaDisplayText col-md-6">
            @Html.DisplayNameFor(model => model.Indicador.unidad)
        </dt>

        <dd class="NotaDisplayText col-md-6">
            @Html.DisplayFor(model => model.Indicador.unidad)
        </dd>
        <dt class="NotaDisplayText col-md-6">
            @Html.DisplayNameFor(model => model.planeado)
        </dt>

        <dd class="NotaDisplayText col-md-6 @alert[0]" title="@title[0]">
            @Html.DisplayFor(model => model.planeado)
        </dd>

        <dt class="NotaDisplayText col-md-6">
            @Html.DisplayNameFor(model => model.ejecutado)
        </dt>

        <dd class="NotaDisplayText col-md-6 @alert[1]" title="@title[1]">
            @Html.DisplayFor(model => model.ejecutado)
        </dd>

        <dt class="NotaDisplayText col-md-6">
            @Html.DisplayNameFor(model => model.CalculadoDisplay)
        </dt>

        <dd class="NotaDisplayText col-md-6 @alert[2]" title="@title[2]">
            @Html.DisplayFor(model => model.CalculadoDisplay)
        </dd>

        <dt class="NotaDisplayText col-md-6">
            @Html.DisplayNameFor(model => model.Evaluacion)
        </dt>

        <dd class="NotaDisplayText col-md-6 @alert[2]" title="@title[2]">
            @if (@Model.Evaluacion.Color != null && @Model.CalculadoDisplay != null && @Model.CalculadoDisplay != "")
            {
                <span style="color:@Model.Evaluacion.Color">
                    @Html.DisplayFor(model => model.Evaluacion.texto)
                </span>
                <svg width='16' height='16' class='float-right'><circle cx='8' cy='8' r='8' fill='@Model.Evaluacion.Color' />@Model.Evaluacion.texto</svg>}
        </dd>


        <dt class="NotaDisplayText col-md-6">
            @Html.DisplayNameFor(model => model.cargado)
        </dt>

        <dd class="NotaDisplayText col-md-6">
            @Html.DisplayFor(model => model.cargado)
        </dd>

        <dt class="NotaDisplayText col-md-6">
            @Html.DisplayNameFor(model => model.Nota)
        </dt>

        <dd class="NotaDisplayText col-md-6">
            @Html.DisplayFor(model => model.Nota)
        </dd>

        <dt class="NotaDisplayText col-md-6">
            @Html.DisplayNameFor(model => model.FechaActualizacion)
        </dt>

        <dd class="NotaDisplayText col-md-6">
            @{
                DateTime fupdate = @Model.FechaActualizacion;
                DateTime localfupdate = TimeZoneInfo.ConvertTimeFromUtc(fupdate, TimeZoneInfo.Local);
            }
            @localfupdate.ToString("hh:mm:ss dd/MM/yyyy")

        </dd>

        <dt class="NotaDisplayText col-md-6">
            @Html.DisplayNameFor(model => model.adjunto)
        </dt>

        <dd class="NotaDisplayText col-md-6">
            @if (@Model.adjunto != null && @Model.adjunto != "")
            {
                @Html.ActionLink(@Model.adjunto, "UploadedFiles/" + @Model.adjunto, "Upload", new { }, htmlAttributes: new { target = "_blank", id = "urlAdjuntoDisplay" })
            }

        </dd>

    </dl>
</div>


@if (ViewBag.MostrarBotonEditarEjecucion == true)
{
    <div class="modal-footer">

        <button type="button" class="btn btn-outline-primary EjecucionEdit" aria-label="Left Align" data-id="@Model.id">
            <i class="fas fa-edit"></i>Editar
        </button>

    </div>}
