@model seguimiento.Models.EjecucionCalculada

@{
    Layout = null;
    string[] title = { "", "", "" };
    string[] alert = { "", "", "" };
    if (Model.PlaneadoError != null)
    {
        alert[0] = "valorTexto";
        title[0] = "Valor Planeado interpretado como texto";
    }
    if (Model.EjecutadoError != null)
    {
        alert[1] = "valorTexto";
        title[1] = "Valor Ejecutado interpretado como texto";
    }
    if (Model.PlaneadoError != null || Model.EjecutadoError != null)
    {
        alert[2] = "valorTexto";
        title[2] = "Este cálculo puede ser erroneo";
    }
}
<h4>Ejecución @Model.Periodo.nombre</h4>
<h6>@Model.Indicador.nombre</h6>
@if (ViewBag.tipo == "exito")
{
    <div class="alert alert-success" role="alert">@ViewBag.mensaje</div>
}
@if (ViewBag.tipo == "error")
{
    <div class="alert alert-danger" role="alert">@ViewBag.mensaje</div>
}
<div class="condensed">
    <div class="form-group row">
        <label asp-for="Indicador.unidad" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.Indicador.unidad)</p>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="planeado" class="col-sm-3 col-form-label @alert[0]" title="@title[0]"></label>
        <div class="col-sm-9">
            <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.planeado)</p>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="ejecutado" class="col-sm-3 col-form-label @alert[1]" title="@title[1]"></label>
        <div class="col-sm-9">
            <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.ejecutado)</p>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="CalculadoDisplay" class="col-sm-3 col-form-label @alert[2]" title="@title[2]"></label>
        <div class="col-sm-9">
            <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.CalculadoDisplay)</p>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Evaluacion" class="col-sm-3 col-form-label @alert[2]" title="@title[2]"></label>
        <div class="col-sm-9">
            @if (@Model.Evaluacion.Color != null && @Model.CalculadoDisplay != null && @Model.CalculadoDisplay != "")
            {
                <p class="form-control-plaintext font-weight-light">
                    @Html.DisplayFor(model => model.Evaluacion.texto)
                    <i class="fas fa-circle" style="color: @Model.Evaluacion.Color"></i>
                </p>
            }
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="cargado" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <p class="form-control-plaintext font-weight-light">
            @(Model.cargado ? "Si": "No")
            </p>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Nota" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.Nota)</p>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="FechaActualizacion" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <p class="form-control-plaintext font-weight-light">
                @{
                    DateTime fupdate = @Model.FechaActualizacion;
                    DateTime localfupdate = TimeZoneInfo.ConvertTimeFromUtc(fupdate, TimeZoneInfo.Local);
                }
                @localfupdate.ToString("hh:mm:ss dd/MM/yyyy")
            </p>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="adjunto" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <p class="form-control-plaintext font-weight-light">
                <a href="/UploadedFiles/@Html.DisplayFor(model => model.adjunto)" target="_blank">@Html.DisplayFor(model => model.adjunto)</a>
            </p>
        </div>
    </div>

</div>


@if (ViewBag.MostrarBotonEditarEjecucion == true)
{
    <div class="modal-footer">

        <button type="button" class="btn btn-outline-primary EjecucionEdit" aria-label="Left Align" data-id="@Model.id">
            <i class="fas fa-edit"></i> Editar
        </button>

    </div>
}
else
{
    <br />
}
