@model seguimiento.Models.Ejecucion

@{
    Layout = null;
    var link = "";
    var text = "";
    if (Model != null && Model.adjunto != null && Model.adjunto != "")
    {
        link = "/UploadedFiles/" + Model.adjunto;
        text = Model.adjunto;
    }
    var key = "Eje-" + Model.id;
}
<h4>Editar ejecución @Model.Periodo.nombre</h4>
<h6>@Model.Indicador.nombre</h6>
<hr />
<form id="EjecucionEditForm" asp-action="EditPop" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="small text-danger"></div>
    <input asp-for="id" type="hidden" />



    <div class="form-group row hide">
        <label asp-for="idindicador" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <input asp-for="idindicador" class="form-control" />
            <span asp-validation-for="idindicador" class="form-text small text-danger"></span>
        </div>
    </div>

    <div class="form-group row hide">
        <label asp-for="idperiodo" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <input asp-for="idperiodo" class="form-control" />
            <span asp-validation-for="idperiodo" class="form-text small text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="planeado" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <input asp-for="planeado" class="form-control" readonly="@(ViewBag.PuedeEditarPlaneado == false ? "readonly": null)" />
            <span asp-validation-for="planeado" class="form-text small text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ejecutado" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <input asp-for="ejecutado" class="form-control" readonly="@(ViewBag.PuedeEditarEjecucion ==false  ? "readonly": null)" />
            <span asp-validation-for="ejecutado" class="form-text small text-danger"></span>
        </div>
    </div>


    <div class="form-group row row">
        <div class="col-sm-9 offset-3">
            <div class="custom-control custom-switch">
                <input class="custom-control-input" asp-for="cargado" />
                <label asp-for="cargado" class="custom-control-label"></label>
            </div>
        </div>
    </div>


    <div class="form-group row">
        <label asp-for="Nota" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <textarea asp-for="Nota" class="form-control"></textarea>
            <span asp-validation-for="Nota" class="form-text small text-danger"></span>
        </div>
    </div>

    <!-- Hdden input Adjunto para el formulario-->
    @Html.EditorFor(model => model.adjunto, new { htmlAttributes = new { @id = "Adjunto_Eje-" + Model.id, @class = "form-control hide", @readonly = "true" } })
</form>
<!-- Input file para Adjunto -->
<form asp-action="UploadFile" asp-controller="Upload" enctype="multipart/form-data" method="post">
    <div class="form-group row">

        <label asp-for="adjunto" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <div class="custom-file">
                <input id="fileupload_@key" name="file" data-key="@key" type="file" class="custom-file-input fileUploadAdjunto" lang="es">
                <label class="custom-file-label" for="fileupload_@key" data-browse="Elegir">Seleccionar Archivo</label>
            </div>
            <span asp-validation-for="adjunto" id="info_@key" class="uploading_@key form-text small text-danger"></span>
            <a href="@link" target="_blank" id="link_@key" class="small form-text">@text</a>

        </div>
    </div>
</form>


<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark EjecucionVolver" aria-label="Left Align" data-id="@Model.id">
        <i class="fas fa-arrow-left"></i> Volver
    </button>
    <button type="button" class="btn btn-outline-primary EjecucionSaveEdit" aria-label="Left Align" data-id="@Model.id">
        <i class="fas fa-save"></i> Guardar
    </button>
</div>

