@model seguimiento.Models.Ejecucion

@{
    Layout = null;
    var link = "";
    var text = "";

    var adjuntos = ViewBag.Adjuntos;
}
<h4>Editar ejecución @Model.Periodo.nombre</h4>
<h6>@Model.Indicador.nombre</h6>
<hr />
<form id="EjecucionEditForm" asp-action="EditPop" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="small text-danger"></div>
    <input asp-for="id" type="hidden" />



    <div class="form-group row hide">
        <label asp-for="idindicador" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <input asp-for="idindicador" class="form-control" />
            <span asp-validation-for="idindicador" class="form-text small text-danger"></span>
        </div>
    </div>

    <div class="form-group row hide">
        <label asp-for="idperiodo" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <input asp-for="idperiodo" class="form-control" />
            <span asp-validation-for="idperiodo" class="form-text small text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="planeado" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <input asp-for="planeado" class="form-control" readonly="@(ViewBag.PuedeEditarPlaneado == false ? "readonly": null)" />
            <span asp-validation-for="planeado" class="form-text small text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ejecutado" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <input asp-for="ejecutado" class="form-control" readonly="@(ViewBag.PuedeEditarEjecucion ==false  ? "readonly": null)" />
            <span asp-validation-for="ejecutado" class="form-text small text-danger"></span>
        </div>
    </div>


    <div class="form-group row row">
        <div class="col-sm-9 offset-3">
            <div class="custom-control custom-switch">
                <input class="custom-control-input" asp-for="cargado" />
                <label asp-for="cargado" class="custom-control-label"></label>
            </div>
        </div>
    </div>


    <div class="form-group row">
        <label asp-for="Nota" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <textarea asp-for="Nota" class="form-control"></textarea>
            <span asp-validation-for="Nota" class="form-text small text-danger"></span>
        </div>
    </div>

    <!-- Hdden input Adjunto para el formulario-->
    @Html.EditorFor(model => model.adjunto, new { htmlAttributes = new { @id = "Adjunto_Eje-" + Model.id, @class = "form-control hide", @readonly = "true" } })
</form>

@if (adjuntos != null)
{
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Adjuntos</label>
        <div class="col-sm-9" id="ejecAdjunto">
            @foreach (EjecucionAdjunto adj in adjuntos)
            {
            <p class="form-control-plaintext py-0 font-weight-light input-size d-flex align-items-center">
                @await Component.InvokeAsync("Adjunto", new { fileName = adj.adjunto, name = adj.nombre })
                <a class="delete-adjunto ml-auto" href="#" data-id="@adj.id"><i class="fas fa-trash small text-danger"></i></a>
            </p>
            }
        </div>
    </div>
}
<hr />
<form id="formAdjuntoEjec" asp-action="Create" asp-controller="EjecucionAdjunto" enctype="multipart/form-data" method="post"  class="form-inline">
    @Html.Hidden("id", Model.id, new { id = "idejecucion"})
    <label class="sr-only" for="nameAdjuntoEjec">Nombre del adjunto</label>
    <input id="nameAdjuntoEjec" name="name" type="text" class="form-control mr-sm-2 mt-1" placeholder="Nombre del adjunto">
    <div class="input-group mr-sm-2 mt-1">
        <div class="custom-file">
            <input id="fileAdjuntoEjec" name="file" required type="file" class="custom-file-input fileUploadAdjuntoEjec" lang="es">
            <label class="custom-file-label" for="fileAdjuntoEjec" data-browse="Elegir">Seleccionar Archivo</label>
        </div>
    </div>
    <button id="btnAdjuntoEjec" type="submit" class="btn btn-primary mt-1">Cargar</button>
</form>
<div class="row">
    <div class="col-12">
        <span id="uploadingAdjuntoEjec" class="form-text small text-primary"></span>
        <span id="infoAdjuntoEjec" class="form-text small text-danger"></span>
    </div>
</div>


<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark EjecucionVolver" aria-label="Left Align" data-id="@Model.id">
        <i class="fas fa-arrow-left"></i> Volver
    </button>
    <button type="button" class="btn btn-outline-primary EjecucionSaveEdit" aria-label="Left Align" data-id="@Model.id">
        <i class="fas fa-save"></i> Guardar
    </button>
</div>

