@model seguimiento.Models.NotaIndicador

@{
    Layout = null;
    var link = "";
    var text = "";
    var key = "Nota-0";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "NotaIndicadorCreateForm", @class = "form-notas-width" }))
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group hide">
        @Html.LabelFor(model => model.IdIndicador, "IdIndicador", htmlAttributes: new { @class = "col-md-3 col-form-label" })
        <div class="col-md-9">
            @Html.DropDownList("IdIndicador", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdIndicador, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group hide">
        @Html.LabelFor(model => model.UserId, "UserId", htmlAttributes: new { @class = "col-md-3 col-form-label" })
        <div class="col-md-9">
            @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group hide">
        @Html.LabelFor(model => model.FechaCreacion, htmlAttributes: new { @class = "col-md-3 col-form-label" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.FechaCreacion, new { htmlAttributes = new { @class = "form-control", @readonly = "true", @Value = DateTime.Now.ToLocalTime().ToString() } })
            @Html.ValidationMessageFor(model => model.FechaCreacion, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group hide">
        @Html.LabelFor(model => model.FechaActualizacion, htmlAttributes: new { @class = "col-md-3 col-form-label" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.FechaActualizacion, new { htmlAttributes = new { @class = "form-control", @readonly = "true", @Value = DateTime.Now.ToLocalTime().ToString() } })
            @Html.ValidationMessageFor(model => model.FechaActualizacion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "col-md-3 col-form-label" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "col-md-3 col-form-label" })
        <div class="col-md-9">
            @Html.DropDownList("Estado", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.Texto, htmlAttributes: new { @class = "col-md-3 col-form-label" })
        <div class="col-md-9">
            @Html.TextAreaFor(model => model.Texto, htmlAttributes: new { @class = "form-control", rows = "6" })
            @Html.ValidationMessageFor(model => model.Texto, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- Hdden input Adjunto para el formulario-->
    @Html.EditorFor(model => model.Adjunto, new { htmlAttributes = new { @id = "Adjunto_Nota-0", @class = "form-control hide", @readonly = "true" } })

}
<!-- Input file para Adjunto -->
<form asp-action="UploadFile" asp-controller="Upload" enctype="multipart/form-data" method="post">
    <div class="form-group row">

        <label asp-for="Adjunto" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <div class="custom-file">
                <input id="fileupload_@key" name="file" data-key="@key" type="file" class="custom-file-input fileUploadAdjunto" lang="es">
                <label class="custom-file-label" for="fileupload_@key" data-browse="Elegir">Seleccionar Archivo</label>
            </div>
            <span asp-validation-for="Adjunto" id="info_@key" class="uploading_@key form-text small text-danger"></span>
            <a href="@link" target="_blank" id="link_@key" class="small form-text">@text</a>

        </div>
    </div>
</form>

<div class="modal-footer">

    <button type="button" class="btn btn-outline-dark NotasIndicadorVolver" aria-label="Left Align" data-indicador="@ViewBag.categ">
        <i class="fas fa-arrow-left"></i> Volver
    </button>

    <button type="button" class="btn btn-outline-primary NotaIndicadorCreateButton" aria-label="Left Align" data-indicador="@ViewBag.categ">
        <i class="fas fa-save"></i>Guardar
    </button>
</div>

