@model IEnumerable<seguimiento.Models.NotaIndicador>
@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}




  

    @if (ViewBag.tipo == "exito")
    {
        <div class="alert alert-success" role="alert">@ViewBag.mensaje</div>
    }
    @if (ViewBag.tipo == "error")
    {
        <div class="alert alert-danger" role="alert">@ViewBag.mensaje</div>
    }
@{
    var indicadores = @Model.OrderBy(n=>n.Indicador.codigo).GroupBy(n => n.IdIndicador);
}

<div class="row titulo-principal titulo-principal-2 IndicadoresTituloGeneral">
        <h5 class="text-center IndicadoresTitulo-margen mayuscula">ACCIONES CORRECTIVAS O DE MEJORA</h5>
    </div>


@foreach(var indicador in indicadores)
{
    <div class="row tituloUsuario">
        <div class="col-md-12">
            <span class="IndicadorNumero"> @indicador.First().Indicador.codigo</span> <span class="IndicadorTitulo">@indicador.First().Indicador.nombre</span>
        </div>
        
    </div>
    
    <table class="table ui-responsive" data-role="table">
        <tr>
            <th class="hide-small-dev">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)

            </th>
            <th class="hide-small-dev">
                @Html.DisplayNameFor(model => model.FechaActualizacion)
            </th>
            <th class="hide-small-dev">
                @Html.DisplayNameFor(model => model.User.Nombre)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Adjunto)
            </th>

            <th></th>
        </tr>
        @if (ViewBag.visible)
        {
            foreach (var item in indicador)
            {
                <tr class="font-smaller">
                    <td class="hide-small-dev">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCreacion)
                    </td>

                    <td class="hide-small-dev">
                        @Html.DisplayFor(modelItem => item.FechaActualizacion)
                    </td>
                    <td class="hide-small-dev">
                        @Html.DisplayFor(modelItem => item.User.Nombre)
                        @Html.DisplayFor(modelItem => item.User.Apellido)
                    </td>
                    <td>


                        @if (item.Adjunto != null && item.Adjunto != "")
                        {
                            @Html.ActionLink("Anexo",  @item.Adjunto, "UploadedFiles", new { }, htmlAttributes: new { @Class = "", target = "_blank" })
                        }

                    </td>

                    <td>


                        <button type="button" title="Ver detalle" class="btn btn-default btn-sm NotaIndicadorDetalle" aria-label="Left Align" data-id="@item.Id">
                            <i class="fas fa-file-alt"></i>
                        </button>
                        @if (ViewBag.editar && ViewBag.userFull != null)
                        {
                            if ((ViewBag.editar && ViewBag.userFull.Id == item.UserId) )
                            {

                                <button type="button" title="Editar" class="btn btn-default btn-sm NotaIndicadorEdit" aria-label="Left Align" data-id="@item.Id" data-indicador="@item.Indicador.id">
                                    <i class="fas fa-edit"></i>
                                </button>
                            }
                        }

                        @if (ViewBag.editar && ViewBag.userFull != null)
                        {
                            if ((ViewBag.editar && ViewBag.userFull.Id == item.UserId) )
                            {
                                <button type="button" title="Eliminar" class="btn btn-default btn-sm NotaIndicadorBorrar" aria-label="Left Align" data-id="@item.Id">
                                    <i class="fas fa-trash"></i>
                                </button>

                            }
                        }
                    </td>

                </tr>
            }
        }
    </table>

    
}

    



    <!--  --------------------------- MODAL  NOTAS ------------------------------------------------------------- -->
<div class="modal fade" id="myModalNotas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title tituloCategoria" id="myModalLabelNotas">
                   
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body padding-bottom-0">
            <div id="notas"></div>
        </div>

    </div>
</div>
</div>

<!--  --------------------------- MODAL  NOTAS ------------------------------------------------------------- -->

<script src="~/js/indexNotas.js" async></script>
