@model seguimiento.Models.Categoria

@{
    ViewData["Title"] = "Panel de control";
    ViewData["Subtitle"] = "Categorías";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h4>Borrar categoría</h4>
<div class="alert alert-warning" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span>¿Está seguro que desea eliminar la categoría?</span>
</div>
<div class="form-group row">
    <label asp-for="nombre" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext font-weight-light">
            @Html.DisplayFor(model => model.numero) @Html.DisplayFor(model => model.nombre)
        </p>
    </div>
</div>
<div class="form-group row">
    <label asp-for="idNivel" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.Nivel.nombre)</p>
    </div>
</div>
<div class="form-group row">
    <label asp-for="idCategoria" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext font-weight-light">
            @Html.DisplayFor(model => model.CategoriaPadre.numero) @Html.DisplayFor(model => model.CategoriaPadre.nombre)
        </p>
    </div>
</div>
<div class="form-group row">
    <label asp-for="IdResponsable" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext font-weight-light">
            @Html.DisplayFor(model => model.Responsable.Nombre)
        </p>
    </div>
</div>

<div class="form-group row">
    <label asp-for="unificacion" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext font-weight-light">
            @(Model.unificacion ? "Si" : "No")
        </p>
    </div>
</div>

<div class="form-group row">
    <label asp-for="Ponderador" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.Ponderador)</p>
    </div>
</div>


<div class="form-group row">
    <label asp-for="texto" class="col-sm-3 col-form-label">Definición</label>
    <div class="col-sm-9">
        <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.texto)</p>
    </div>
</div>

<div class="form-group row">
    <label asp-for="objetivo" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.objetivo)</p>
    </div>
</div>

<div class="form-group row">
    <label asp-for="nota" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.nota)</p>
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group row">
        <div class="col-sm-3 offset-3">
            <input type="submit" value="Borrar" class="btn btn-outline-danger btn-block" />
        </div>
        <div class="col-sm-3">
            <a asp-action="Index" class="btn btn btn-outline-dark btn-block">Volver</a>
        </div>
    </div>
}