@model seguimiento.Models.Categoria

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Detalles de la categoria</h2>

<div>
    <h4>@Html.DisplayFor(model => model.numero) @Html.DisplayFor(model => model.nombre)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero) @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nivel.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nivel.nombre)
        </dd>
        <dt>
            Categoria Padre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoriaPadre.numero) @Html.DisplayFor(model => model.CategoriaPadre.nombre)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Responsable.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsable.Nombre)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.unificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ponderador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ponderador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.texto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.texto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.objetivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.objetivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nota)
        </dd>

        @foreach (var campo in ViewBag.campos)
        {
            if (campo.Campo.Activado == true)
            {
                <dt>
                    @Html.Encode(campo.Campo.Nombre)
                </dt>

                <dd>
                    @if (campo.Valor != null)
                    {
                        @Html.Encode(campo.Valor.Texto)
                    }
                </dd>
            }
        }

    </dl>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <p class=" float-right">
            @Html.ActionLink("Atras", "Index", "", htmlAttributes: new { @class = "btn btn-default" })
            @Html.ActionLink("Editar", "Edit", new { id = Model.id }, htmlAttributes: new { @class = "btn btn-default" })
        </p>
    </div>
</div>

