@model seguimiento.Models.Categoria

@{
    ViewData["Title"] = "Panel de control";
    ViewData["Subtitle"] = "Categorías";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h4>Detalles categoría</h4>
<div class="form-group row">
    <label asp-for="nombre" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext font-weight-light">
            @Html.DisplayFor(model => model.numero) @Html.DisplayFor(model => model.nombre)
        </p>
    </div>
</div>
<div class="form-group row">
    <label asp-for="idNivel" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.Nivel.nombre)</p>
    </div>
</div>
<div class="form-group row">
    <label asp-for="idCategoria" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext font-weight-light">
        @Html.DisplayFor(model => model.CategoriaPadre.numero) @Html.DisplayFor(model => model.CategoriaPadre.nombre)
        </p>
    </div>
</div>
<div class="form-group row">
    <label asp-for="IdResponsable" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext font-weight-light">
            @Html.DisplayFor(model => model.Responsable.Nombre)
        </p>
    </div>
</div>

<div class="form-group row">
    <label asp-for="unificacion" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext font-weight-light">
            @(Model.unificacion ? "Si" : "No")
        </p>
    </div>
</div>

<div class="form-group row">
    <label asp-for="Ponderador" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.Ponderador)</p>
    </div>
</div>


<div class="form-group row">
    <label asp-for="texto" class="col-sm-3 col-form-label">Definición</label>
    <div class="col-sm-9">
        <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.texto)</p>
    </div>
</div>

<div class="form-group row">
    <label asp-for="objetivo" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.objetivo)</p>
    </div>
</div>

<div class="form-group row">
    <label asp-for="nota" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.nota)</p>
    </div>
</div>


@foreach (var campo in ViewBag.Campos)
{
    if (campo.Campo.Activado == true)
    {

        <div class="form-group row">
            <label for="@Html.Encode(campo.Campo.Nombre)" class="col-sm-3 col-form-label text-capitalize">@Html.Encode(campo.Campo.Nombre)</label>
            <div class="col-sm-9">
                @if (campo.Valor != null)
                {
                    <p class="form-control-plaintext font-weight-light">@Html.Encode(campo.Valor.Texto)</p>
                }
            </div>
        </div>
    }
}


<div class="form-group row">
    <div class="col-sm-3 offset-3">
        <a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-outline-primary btn-block">Editar</a>
    </div>
    <div class="col-sm-3">
        <a asp-action="Index" class="btn btn btn-outline-dark btn-block">Volver</a>
    </div>
</div>


