@model IEnumerable<seguimiento.Models.Configuracion>

@{
    ViewBag.Title = "Configuracion general";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Configuracion general</h2>

@foreach (var item in Model)
{
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.anoInicial)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.anoInicial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.anoFinal)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.anoFinal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.periodosAnuales)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.periodosAnuales)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nombrePeriodoAnual)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => item.nombrePeriodoAnual)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.Logo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImgHeader)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.ImgHeader)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImgBackgroud)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.ImgBackgroud)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.contacto)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.contacto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.activo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Entidad)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.Entidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombrePlan)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.NombrePlan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PonderacionTipo)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.PonderacionTipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CalculoNivel)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.CalculoNivel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.libre)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.libre)
        </dd>
    </dl>
    <p class="float-right">
        @Html.ActionLink("Editar", "Edit", new { id = item.id }, htmlAttributes: new { @class = "btn btn-default" })
    </p>


}

