@model IEnumerable<seguimiento.Models.Periodo>

@{
    ViewData["Title"] = "Panel de control";
    ViewData["Subtitle"] = "";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="float-right">
    <a asp-controller="EjecucionCategoria" asp-action="Evaluar" class="btn btn-outline-warning" target="_blank">Evaluar Totales</a>
</div>
<h4>Periodos</h4>
@if (ViewBag.error != null)
{
    <div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        @ViewBag.error
    </div>
}
<p>
    @Html.ActionLink("Nuevo periodo", "Create")
</p>


<table class="table font-smaller">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.orden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.calculo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cargado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ocultar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.desplegado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditarProgramacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditarEjecucion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.orden)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tipo)
    </td>
    <td class="text-center">
        @(item.calculo ? "Si" : "No")
    </td>
    <td class="text-center">
        @(item.cargado ? "Si" : "No")
    </td>
    <td class="text-center">
        @(item.Ocultar ? "Si" : "No")
    </td>
    
    <td class="text-center">
        @(item.desplegado ? "Si" : "No")
    </td>
    <td class="text-center">
        @(item.EditarProgramacion ? "Si" : "No")
    </td>
    <td class="text-center">
        @(item.EditarEjecucion ? "Si" : "No")
    </td>

    <td>
        <span class="button-inline small-button">
            <a href='@Url.Action("Details", new { id=item.id })' class="btn btn-default btn-sm" title="Detalles"><i class="fas fa-file-alt"></i></a>
            <a href='@Url.Action("Edit", new { id=item.id })' class="btn btn-default btn-sm" title="Editar"><i class="fas fa-edit"></i></a>
            <a href='@Url.Action("Delete", new { id=item.id })' class="btn btn-default btn-sm" title="Borrar"><i class="fas fa-trash"></i></a>
        </span>

    </td>
</tr>
    }

</table>


