@model seguimiento.Models.Indicador

@{
    ViewData["Title"] = "Panel de control";
    ViewData["Subtitle"] = "Indicadores";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h4>Borrar indicador</h4>
<div class="alert alert-warning" role="alert">

    <i class="fas fa-exclamation-triangle"></i>
    <span>¿Está seguro que desea eliminar el indicador y sus ejecuciones?, <b>SI LO ELIMINA NO PODRÁ RECUPERAR LA INFORMACIÓN</b> </span>
</div>
<div class="form-group row">
    <label asp-for="codigo" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.codigo)</p>
    </div>
</div>
<div class="form-group row">
    <label asp-for="nombre" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.nombre)</p>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Categoria" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext font-weight-light">
            @Html.DisplayFor(model => model.Categoria.numero)  @Html.DisplayFor(model => model.Categoria.nombre)
        </p>
    </div>

</div>

<div class="form-group row">
    <label asp-for="TipoIndicador" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.TipoIndicador.Tipo)</p>
    </div>
</div>

<div class="form-group row">
    <label asp-for="ponderador" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.ponderador)</p>
    </div>
</div>

<div class="form-group row">
    <label asp-for="unidad" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.unidad)</p>
    </div>
</div>

<div class="form-group row">
    <label asp-for="Nota" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.Nota)</p>
    </div>
</div>

<div class="form-group row">
    <label asp-for="adjunto" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext font-weight-light">
            <a href="/UploadedFiles/@Html.DisplayFor(model => model.adjunto)" target="_blank">@Html.DisplayFor(model => model.adjunto)</a>
        </p>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group row">
        <div class="col-sm-3 offset-3">
            <input type="submit" value="Borrar" class="btn btn-outline-danger btn-block" />
        </div>
        <div class="col-sm-3">
            <a asp-action="Index" class="btn btn btn-outline-dark btn-block">Volver</a>
        </div>
    </div>
}