@model seguimiento.Models.Indicador


@{
    var codigo = Model.codigo != null ? Model.codigo : Model.id.ToString();
    Layout = "";
}
<h4>Hoja de vida de indicador</h4>
<h6>@codigo @Model.nombre</h6>
<hr />
@if (ViewBag.tipo == "exito")
{
    <div class="alert alert-success" role="alert">@ViewBag.mensaje</div>
}
@if (ViewBag.tipo == "error")
{
    <div class="alert alert-danger" role="alert">@ViewBag.mensaje</div>
}
<div class="condensed">
    <div class="form-group row">
        <label asp-for="Categoria" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <p class="form-control-plaintext font-weight-light">
                @Html.DisplayFor(model => model.Categoria.numero)  @Html.DisplayFor(model => model.Categoria.nombre)
            </p>
        </div>
    </div>

    <!-- <div class="form-group row">
         <label asp-for="TipoIndicador" class="col-sm-3 col-form-label"></label>
         <div class="col-sm-9">
             <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.TipoIndicador.Tipo)</p>
         </div>
     </div> -->

    <div class="form-group row">
        <label asp-for="ponderador" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.ponderador)</p>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="unidad" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.unidad)</p>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Nota" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.Nota)</p>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="adjunto" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <p class="form-control-plaintext font-weight-light">
                <a href="/ccs/UploadedFiles/@Html.DisplayFor(model => model.adjunto)" target="_blank">@Html.DisplayFor(model => model.adjunto)</a>
            </p>
        </div>
    </div>

    @foreach (var campo in ViewBag.Campos)
    {
        if (campo.Campo.Activado == true)
        {

            <div class="form-group row">
                <label for="@Html.Encode(campo.Campo.Nombre)" class="col-sm-3 col-form-label text-capitalize">@Html.Encode(campo.Campo.Nombre)</label>
                <div class="col-sm-9">
                    @if (campo.Valor != null)
                    {
                        <p class="form-control-plaintext font-weight-light">@campo.Valor.Texto</p>
                    }
                </div>
            </div>
        }
    }
</div>
@if (ViewBag.MostrarBotonEditarIndicador == true)
{
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary button-edit-indicador" aria-label="Left Align" data-id="@Model.id">
            <i class="fas fa-edit"></i> Editar
        </button>
    </div>
}
else
{
    <br />
}