@model seguimiento.Models.Indicador


@{

    Layout = "";
    var listacategoria = (SelectList)ViewBag.IdCategoria;
    var listatipo = (SelectList)ViewBag.tipo;
}
<h4>Editar indicador</h4>
<h6>@Model.id @Model.nombre</h6>
<form id="IndicadorEditForm" asp-action="EditPop" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="small text-danger"></div>
    <input asp-for="id" type="hidden" />


    <div class="form-group row">
        <label asp-for="Categoria" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            @Html.DropDownList("idCategoria", listacategoria, htmlAttributes: new { @class = "form-control" })
            <span asp-validation-for="idCategoria" class="form-text small text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ponderador" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <input asp-for="ponderador" class="form-control" />
            <span asp-validation-for="ponderador" class="form-text small text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="tipo" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            @Html.DropDownList("tipo", listatipo, htmlAttributes: new { @class = "form-control" })
            <span asp-validation-for="tipo" class="form-text small text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="unidad" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <input asp-for="unidad" validation-for="Email" validationerror-class="is-invalid" class="form-control" />
            <span asp-validation-for="unidad" class="form-text small text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="codigo" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <input asp-for="codigo" class="form-control" />
            <span asp-validation-for="codigo" class="form-text small text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="nombre" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <input asp-for="nombre" class="form-control" />
            <span asp-validation-for="nombre" class="form-text small text-danger"></span>
        </div>
    </div>




    <div class="form-group row">
        <label asp-for="Nota" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <textarea asp-for="Nota" class="form-control"></textarea>
            <span asp-validation-for="Nota" class="form-text small text-danger"></span>
        </div>
    </div>
    @foreach (var campo in ViewBag.Campos)
    {
        if (campo.Campo.Activado == true)
        {
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-capitalize" for="@campo.Campo.Nombre">@Html.Raw(campo.Campo.Nombre.Remove(campo.Campo.Nombre.Length - 3))</label>
                <div class="col-md-9">
                    @if (campo.Valor != null)
                    {
                        @Html.TextBox((string)campo.Campo.Nombre, (string)campo.Valor.Texto, (string)campo.Valor.Texto, new { @class = "form-control" })
                    }
                    else
                    {
                        @Html.TextBox((string)campo.Campo.Nombre, "", "", new { @class = "form-control" })

                    }
                </div>
            </div>
        }
    }
    <!-- Hdden input Adjunto para el formulario-->
    @Html.EditorFor(model => model.adjunto, new { htmlAttributes = new { @id = "Adjunto_Ind-" + Model.id, @class = "form-control hide", @readonly = "true" } })
</form>
<!-- Input file para Adjunto -->
@await Html.PartialAsync("_IndicadorUpload", Model)


<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark IndicadorVolver" data-id="@Model.id">
        <i class="fas fa-arrow-left"></i> Volver
    </button>
    <button type="button" class="btn btn-outline-primary IndicadorSaveEdit" data-id="@Model.id">
        <i class="fas fa-save"></i> Guardar
    </button>
</div>

